@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>very cool Jacob, good job, keep it up :)</h1>
    <p class="lead">I did this for school</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Twitch</h2>
        <p>
            god gamer
        </p>
        <p><a class="btn btn-default" href="https://www.twitch.tv/quin69">coomer &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>B-board</h2>
        <p>weaponized autism?</p>
        <p><a class="btn btn-default" href="https://boards.4chan.org/b/">chan &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>P-board</h2>
        <p>more weaponized autism?</p>
        <p><a class="btn btn-default" href="https://boards.4chan.org/p/">chan &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>return person</h2>
        <p><a href="/MyApi/ReturnPerson" class="btn btn-primary btn-lg">MyApi/ReturnPerson &raquo;</a></p>
    </div>

</div>