@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    <h1>MyDemo</h1>
    <p class="lead">Showing MyDemo and MyDemo/TalkToMyDemo</p>
    <p>
        <a href="/MyDemo" class="btn btn-primary btn-lg">MyDemo &raquo;</a>
        <a href="/MyDemo/TalkToMyDemo" class="btn btn-primary btn-lg">MyDemo/TalkToMyDemo &raquo;</a>
    </p>
    <p>
        <a href="/MyDemo/Arg1ToMyDemo?arg1=4&arg2=arg2FromBrowser&arg3=ignoredByAction" class="btn btn-primary btn-lg">MyDemo/Arg1ToMyDemo &raquo;</a>
    </p>
</div>


<div class="row">
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
</div>