
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>Index</h2>

<div class="well">
    <p>
        Basic Well
    </p>
    <p>
        <a class="btn btn-default" href="https://www.google.com">Google &raquo;</a>
        <a class="btn btn-warning" href="https://www.google.com">Google &raquo;</a>
        <a class="btn btn-danger" href="https://www.google.com">Google &raquo;</a>
    </p>

    <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> Indicates a successful or positive action.
    </div>

    <div class="alert alert-info alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Info!</strong> Indicates a neutral informative change or action.
    </div>

    <div class="alert alert-warning alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Warning!</strong> Indicates a warning that might need attention.
    </div>

    <div class="alert alert-danger alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
    </div>
</div>

