@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>
            <a href="https://forskning.eaaa.dk">Person forskning</a>
        </h1>
    </div>

<div class="jumbotron">
    <h1>MySimpleDemo</h1>
    <p class="lead">Showing Simple and Simple/TalkToMyDemo</p>
    <p>
        <a href="/Simple" class="btn btn-primary btn-lg">Simple &raquo;</a>
        <a href="/Simple/TalkToMyDemo" class="btn btn-primary btn-lg">
            Simple/TalkToMyDemo &raquo;
        </a>
        <a href="/Simple/Arg1ToMyDemo?arg1=4&arg2=arg2FromBrowser&arg3=ignoredByAction"
           class="btn btn-primary btn-lg">
            Simple/Arg1ToMyDemo &raquo;
        </a>
        <a href="/Simple/RouteTest/MyOptValue1/7/?arg=99"
           class="btn btn-primary btn-lg">
            Simple/RouteTest &raquo;
        </a>
        <a href="/Simple/Index"
           class="btn btn-primary btn-lg">
            Simple/Index &raquo;
        </a>
        <a href="/Simple/DataIndex"
           class="btn btn-primary btn-lg">
            Simple/DataIndex &raquo;
        </a>
    </p>
</div>
