@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Adding models to ASP application.</p>
    <p><a href="/MyDemo" class="btn btn-primary btn-lg">MyDemo &raquo;</a></p>
</div>
