@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My Views</h1>
    <p class="lead">Demonstration project for adding and using Views</p>
    <p>
        <a href="/MyDemo" class="btn btn-primary btn-lg">MyDemo &raquo;</a>
        <a href="/MyDemo/DataIndex" class="btn btn-primary btn-lg">MyDemo/DataIndex &raquo;</a>
    </p>
</div>

