@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<p>
    I added this info : <b>@ViewBag.DemoInfo</b><br />

    <a href="/Home/Contact">Contact</a><br />

   
</p>
